<div class="col-md-8 offset-2 alert alert-danger text-center">
    <h2>You are not allowed to access this Page</h2>
    <p>Please go to Home Page</p>
    <hr />
    <a class="btn btn-outline-info" asp-controller="Movie" asp-action="Index">Go to Home Page</a>
</div>