<div class="col-md-8 offset-2 alert alert-success text-center">
    <h2>Your Account is created Successfully</h2>
    <hr />
    <p>You can login with your credentials</p>
</div>

<div class="text-center">
    <a class="btn btn-outline-light" asp-controller="Account" asp-action="LogIn">Go to Log In Page</a>
</div>